:root {
  --Green: hsl(75, 94%, 57%);
  --White: hsl(0, 0%, 100%);
  --Grey700: hsl(0, 0%, 20%);
  --Grey800: hsl(0, 0%, 12%);
  --Grey900: hsl(0, 0%, 8%);
}

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

main {
  height: 611px;
  width: 384px;
  background-color: var(--Grey800);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

img {
  width: 88px;
  height: 88px;
  border-radius: 50%;
  margin: 40px 148px 24px 148px;
}

.figure {
  height: 61px;
  width: 304px;
  text-align: center;
  margin-bottom: 24px;
}

figcaption {
  color: var(--White);
  text-align: center;
  font-family: 'inter';
  font-size: 24px;
  line-height: 150%;
  font-weight: 600;
  letter-spacing: 0;
}

.figure p {
  color: var(--Green);
  text-align: center;
  font-size: 14px;
  font-family: 'inter';
  line-height: 150%;
  font-weight: 700;
  letter-spacing: 0;
}

.profession {
  color: var(--White);
  margin-bottom: 24px;
  height: 21px;
  width: 304px;
  text-align: center;
  font-family: 'inter';
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0;
}

ul {
  height: 289px;
  width: 304px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 16px;
  list-style: none;
}

li {
  color: var(--White);
  text-align: center;
  height: 45px;
  width: 304px;
  border-radius: 8px;
  background-color: var(--Grey700);
  padding: 12px 12px;
  font-family: 'inter';
  font-size: 14px;
  line-height: 150%;
  font-weight: 700;
}
li:hover {
  background-color: var(--Green);
  cursor: pointer;
  color: var(--Grey700);
}
